body {
  background-color: #1a1d1a;
}

.barra {
  background-color: #50514f;
}

.profile {
  background: linear-gradient(-45deg, #baca0b, #67b309, #0e991c, #11b984);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar {
  height: 60px;
  background-color: #00100b;
}
.logonav {
  width: 250px;
  height: 90px;
  margin-left: -70px;
}

.logo1 {
  width: auto;
  height: 250px;
}
.formulario {
  width: 300px !important;
}
.btn {
  border-radius: 5px 5px 5px 5px;
  height: 40px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#banner {
  background-attachment: scroll, fixed;
  background: rgb(250, 79, 154);
  background: -moz-radial-gradient(
    circle,
    rgba(250, 79, 154, 1) 1%,
    rgba(11, 11, 13, 0.9500000683867297) 89%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(250, 79, 154, 1) 1%,
    rgba(11, 11, 13, 0.9500000683867297) 89%
  );
  background: radial-gradient(
    circle,
    rgba(250, 79, 154, 1) 1%,
    rgba(11, 11, 13, 0.9500000683867297) 89%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa4f9a",endColorstr="#0b0b0d",GradientType=1);
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: #fff;
  padding: 12em 0 10em 0;
  text-align: center;

  color: rgb(252, 246, 246);
}
.perfiles {
  width: auto;
  height: 250px;
  border-radius: 50px;
}

p {
  color: white;
}

.negro {
  background-color: #50514f;
}





.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 20px;
	overflow: hidden;
	width: 300px;
	height: 75px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}



.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 3px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}



